
$backgroundCountry: rgb(38,38,38); 


.countriesContainer{
    background-color: $backgroundCountry;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3%;
    background-color: rgb(30, 30, 30, 0.9);
    border-radius: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    
    h2{
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: white;
        font-weight: 400;
    }
}
.innerCountries{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.card{
    background-color: rgb(4, 4, 4, 0.3);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    
    div{
        height: 80px;
        width: 120px;
        background-size: cover;
        background-position: center;
    }
    h1{
        text-align: center;
        margin-top: 20px;
        font-size: 1.2rem;
        color: white;
        font-weight: 400;
    }
}
.card:hover{
    background-color: rgb(4, 4, 4, 0.5);
}